<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/feedback.css') }}">
    <title>Document</title>
</head>

<body>

    <div class="main-container">

        <form id="feedbackForm" class="feedbackForm" action="/feedback" method ="POST">
            <h1>Community Kitchen Feedback</h1>
            <h4>Help us improve our kitchen services and system</h4>
            <div class="user-name">
                <input type="text" name="username" id="username" placeholder="Your Name">
            </div>
            <div class="user-email">
                <input type="text" name="email" id="email" placeholder="Email">
            </div>
            <div class="Kitchen-detail">
                <input type="text" name="detail" id="detail" placeholder="Kitchen Name / Location ">
            </div>
            <div class="Rating">
                <input type="number" name="rating" id="rating" placeholder="Give ratinng out of 10">
            </div>
            <div class="comments">
                <textarea name="comments" id="comments" placeholder="Add your comments.."></textarea>
            </div>

            <button type="submit" class="submitBtn">Submit</button>
        </form>
    </div>

</body>

</html>
