<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/form.css">
    <title>Document</title>
</head>

<body>
    <div class="main-container">
        <form class="form registerForm" action="">
            <h1>Register</h1>
             <div class="errorMsg">
                this is an errormsg
             </div>
            <div class="container">
                <div class="personal-details column">
                    <span>Personal Details</span>
                    <div class="ngo-name-field">
                        <input type="text" name="NGO_Name" id="Name" placeholder="NGO Name">
                    </div>
                    <div class="ngo-registration-field">
                        <input type="text" name="NGO_Regi" id="NGO_register" placeholder="Registration Number">
                    </div>
                    <div class="username-field">
                        <input type="text" name="username" id="username" placeholder="Username">
                    </div>
                </div>

                <div class="contact-details column">
                    <span>Contact Details</span>
                    <div class="contact-Name-field">
                        <input type="text" name="contact_Name" id="contact_Name" placeholder="Enter Name">
                    </div>
                    <div class="flex">
                        <div class="phone-num-field">
                            <input type="text" name="phone_num" id="phone_num" placeholder="Phone">
                        </div>
                        <div class="email-field">
                            <input type="email" name="email" id="email" placeholder="Email">
                        </div>
                    </div>

                </div>

                <div class="location-details column">
                    <span>Location Details</span>
                    <div class="address">
                        <input type="text" name="address" id="address" placeholder="Enter Address">
                    </div>
                    <div class="flex">
                        <div class="cityC">
                            <input type="text" name="city" id="city" placeholder="City">
                        </div>
                        <div class="stateC">
                            <input type="text" name="state" id="state" placeholder="State">
                        </div>
                        <div class="pincodeC">
                            <input type="text" name="pincode" id="pincode" placeholder="Pincode">
                        </div>
                    </div>
                </div>

            </div>


            <div class="created_at_field">
                <span>Establishment Date : </span><br>
                <input type="date" name="establish_date" id="establish_date">
            </div>

            <div class="password">
                <input type="password" name="password" id="password" placeholder="Set Password">
            </div>

            <button type="submit" class="registerBtn">Register</button>
            <div class="link">
                Already have an account? <a href="" id="login-in">Login</a>
            </div>
        </form>
    </div>

</body>

</html>